<div id="div-container" class="container is-widescreen">
  <div id="div-main-container" class="notification is-primary">
    <%= image_tag("journal.jpg", class:'img-journal') %>
      <div class="bg-text">
    <h2>Welcome to</h2>
    <h1 class="h1-blog">Alpha Blog</h1>
    <p>Completely built on Rails</p>
      </div>
      <div class="div-btn">
        <%= link_to "Articles", articles_path, id:'btn-articles', class:'button is-success' %>
      </div>
  </div>
</div>
