<nav id="div-navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  <h3 class="h3-head">Alpha Blog</h3>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <%= link_to "Home", root_path, id:'a-home', class:'navbar-item'%>
        <%= link_to "Articles", articles_path, id:'a-articles', class:'navbar-item'%>

      <div class="navbar-item has-dropdown is-hoverable">
        <a id="a-more" class="navbar-link">
         More
        </a>

        <div class="navbar-dropdown">
          <%= link_to "Create New Article", new_article_path, id:'a-new-article', class:"navbar-item" %>
          <%=link_to 'About', about_path, class:'navbar-item' %>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>
</nav>
